/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

/* Landing Page Styling */
.landing-page {
    height: 100vh; /* Full height of the viewport */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; /* Dark background */
    color: #fff;
}

.name-container {
    text-align: center;
}

.name-container h1 {
    font-size: 10vw; /* Large, responsive font size */
    font-weight: bold;
    letter-spacing: 2px;
    white-space: nowrap; /* Keeps the name on a single line */
    overflow: hidden; /* Hides the text until it's typed */
    border-right: 3px solid #fff; /* Simulates cursor */
    animation: typing 1.5s steps(30) 1s 1 normal both, blink 0.75s step-end infinite;
}

/* Keyframes for typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Keyframes for blinking cursor */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Future content styling */
.about-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Arrange content from top to bottom */
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 10vh;;
    gap: 2rem; /* Add gap between the elements */
}

.about-section h2 {
    font-size: 6vh;
    margin: 0; /* Remove bottom margin */
}

.about-section p {
    font-size: 3vh;
    margin: 0; /* Remove top margin */
}

/* Pill box styling */
.pill-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none; /* Remove underline from link */
    margin-top: 20px; /* Add margin to separate it from the content */
    gap: 10px;
}

.pill-box:hover {
    background-color: #555; /* Change background color on hover */
}

.pill-box .close-icon {
    cursor: pointer;
    font-size: 1.5rem;
}

/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1vw;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .name {
    color: hsl(0, 0%, 76%);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.navbar .name a {
    color: hsl(0, 0%, 76%);
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 2vw;
}

.navbar ul li a {
    color: hsl(0, 0%, 76%);
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.navbar ul li a:hover {
    color: white;
}

.navbar .name a:hover {
    color: white;
}

/* Hamburger menu styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.hamburger.active .bar {
    background-color: #555; /* Change color when active */
}

.nav-links {
    display: none;
}

/* Media query for collapsing navbar */
@media (max-aspect-ratio: 3/2) {
    .hamburger {
        display: flex;
        padding: 1lvh;
    }

    .navbar ul {
        display: none; /* Hide nav links by default */
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 100%;
        right: 0; /* Align to the right */
        align-items: center;
    }

    .nav-links.active {
        display: flex; /* Show nav links when active */
    }

    .navbar ul li {
        margin: 1vw 0;
    }

    .navbar ul li a {
        font-size: 18px; /* Slightly smaller font size for mobile */
    }
}

/* Future content styling */
.projects-section {
    padding: 5vw;
    background-color: black;
    color: #f4f4f4;
    text-align: center;
}

.projects-section h2 {
    font-size: 5vh; /* Increase the font size */
    margin-bottom: 3vh; /* Add some margin below the heading */
}

.project {
    margin-bottom: 6vw;
}


.project h3 {
    font-size: 3vh;
    margin-bottom: 1vw;
}

.project p {
    font-size: 2vh;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-bottom: 2vw;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* Contact section styling */
.contact-section {
    display: flex;
    flex-direction: column; /* Arrange content from top to bottom */
    background-color: #f4f4f4;
    color: #333;
    padding: 5vh;
}

.contact-section h2 {
    font-size: 2.5em;
    margin: 1vh 0;
    display: flex;
    text-align: left;
}

.contact-section ul li {
    margin: 1vw 0;
    display: flex;
    align-items: left;
    text-align: left;
}

.contact-section ul li img.email-icon {
    width: auto; /* Adjust size as needed */
    height: 3vw; /* Adjust size as needed */
    margin-right: 1vw;
}

.contact-section ul li img.phone-icon {
    width: auto; /* Adjust size as needed */
    height: 3vw; /* Adjust size as needed */
    margin-right: 1vw;
}

.contact-section ul li a {
    color: #0015ff; /* Tomato color */
    text-decoration: none;
    transition: color 0.3s;
}

.contact-section ul li a:hover {
    color: #000643; /* Darker tomato color */
}

.contact-section .social-links {
    display: flex;
    gap: 1vw;
    padding-top: 1vw;
}

.contact-section .social-links a {
    display: inline-block;
    width: 7vw; /* Increased size */
    height: auto; /* Increased size */
}

.contact-section .social-links img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.contact-section .social-links img:hover {
    transform: scale(1.1);
}

.bio-landing-page {
    height: 100vh; /* Full height of the viewport */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('HelloThere.png'); /* Background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the */
    color: #fff;
    text-align: center
}

.bio-landing-page h1 {
    font-size: 10vw; /* Large, responsive font size */
    font-weight: bold;
    letter-spacing: 2px;
    white-space: nowrap; /* Keeps the text on a single line */
    overflow: hidden; /* Hides the text until it's typed */
}

section {
    padding: 4rem 2rem;
    text-align: center;
}

.hobbies-section {
    background-color: #e9e9e9;
    color: #333;
}

.experience-section, .ambitions-section {
    background-color: #f4f4f4;
    color: #333;
}

.bio-section h2, .hobbies-section h2, .experience-section h2, .ambitions-section h2 {
    font-size: 3vh;
    margin-bottom: 1rem;
}

.bio-section p {
    font-size: 2vh;
    line-height: 1.6;
    padding-right: 2vh;
}

.hobbies-section p, .experience-section p, .ambitions-section p {
    font-size: 1.8vh;
    line-height: 1.6;
}

.hobbies-photo, .experience-photo, .ambitions-photo {
    max-width: 100%;
    height: auto;
    margin-bottom: 2vw; /* Add margin to separate it from the content */
    border-radius: 2vw;
}

.bio-section {
    min-height: 100vh; /* Minimum height of 100vh */
    display: flex;
    flex-direction: row; /* Default layout: side by side */
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 8vw;
    gap: 2vw; /* Add gap between the elements */
}

.bio-photo-container {
    flex: 1; /* Allow the photo to take up one part of the available space */
    position: relative;
    display: inline-block;
}

.bio-photo {
    display: block;
    max-width: 40vw;;
    height: 80vh;
    max-width: 80vw;
    height: auto;
    margin-bottom: 2vw; /* Add margin to separate it from the content */
    border-radius: 2vw;
}

.bio-text {
    font-size: 2vw;
    line-height: 1.6;
}

.bio-photo-container:hover .caption {
    opacity: 1;
}


/* Media query for large vertical-to-horizontal ratio */
@media (max-aspect-ratio: 1/1) {
    .bio-section {
        flex-direction: column; /* Stack elements vertically */
    }
    
    .bio-photo-container {
        order: -1; /* Move the photo container to the top */
    }

}

.caption {
    position: absolute;
    top: 2vw; /* Position at the top */
    left: 2vw; /* Position to the left */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 0.5vw;
    border-radius: 1.2vw; /* Rounded edges for the caption */
    font-size: 2vw;
}

.bio-text {
    flex: 2; /* Allow the text to take up two parts of the available space */
    font-size: 2vw;
    line-height: 1.6;
}

/* Carousel styling */
.list-wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden; /* Hide overflow to show only part of the next/previous items */
}

.list {
    display: flex;
    gap: 1vh;
    padding: 2vh;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    scroll-padding-left: 50vw;
}

.item {
    flex: 0 0 auto; /* Prevent items from shrinking or growing */
    width: 45vh; /* Fixed width */
    height: 45vh; /* Fixed height */
    margin: 0 1vw; /* Add margin to separate items */
    border-radius: 4vw; /* Rounded edges */
    overflow: hidden; /* Ensure content fits within the rounded corners */
    scroll-snap-align: center; /* Center the active item */
    position: relative; /* Position relative to contain the caption */
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire item */
    border-radius: 2vw; /* Rounded edges */
}

.caption {
    position: absolute;
    top: 2vh; /* Position at the top */
    left: 2vh; /* Position to the left */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 0.5vw;
    border-radius: 1.2vw; /* Rounded edges for the caption */
    font-size: 2vh;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition */
}

.item:hover .caption {
    opacity: 1; /* Show caption on hover */
}

  .button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1vw;
    cursor: pointer;
    font-size: 1.5vh;
  }
  
  .button--previous {
     transform: rotateY(180deg);
    left: 1vw;
  }
  
  .button--next {
    right: 1vw;

  }

  /* Footer styling */
  .footer {
    padding: 1rem 2rem; /* Adjust padding to move text further in */
    background-color: #333;
    color: #f4f4f4;
    width: 100%;
    bottom: 0;
}